.about {
  background-color: var(--color-black);
}

.page-about {
  width: 98vw;
  height: 100vh;
  background-color: var(--color-black);
  background-image: url(../assets/img/me_smaller.png);
  background-repeat: no-repeat;
  background-size: 80rem;
  background-position: right bottom;
  background-attachment: fixed;
}

.about-animated__text {
  position: relative;
  width: 100vw;
  height: 85vh;
  color: white;
  font-size: 6rem;
  text-align: center;
  font-family: 'Roboto Light';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stuff-about-me {
  width: 100vw;
  background-color: white;
}

.animation-about {
  animation-name: MOVE-BG;
  animation-duration: 1s;
  animation-timing-function:  ease-in-out;
  animation-fill-mode: forwards;
}

.bold-colored {
  border-bottom:solid  .5rem var(--color-blue);
}

.colored {
  color: var(--color-blue);
}

.page-about__overlay {
  width: 98vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: row;
  align-self: center;
  top: 0;
  color: white;
  font-size: 3.8rem;
  text-align: left;
  font-family: 'Roboto Light';
  z-index: 100;
}

.about-header__text {
  width: 60vw;
  align-self: center;
}

.link-to-out:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}

.about-education {
  padding-top: 8rem;
  width: 80vw;
  margin: 0 auto;
}

.about-education header {
  font-family: 'PlayfairDisplay Bold';
  font-size: 3.3rem;
  padding: 3rem 0;
}

.about-skills > header {
  text-align: center;
  font-family: 'PlayfairDisplay Bold';
  font-size: 3.3rem;
  padding: 3rem 0;
}

.about-education p {
  width: 70%;
  font-family: 'Roboto Light';
  font-size: 2.2rem;
  line-height: 150%;
}

.about-education p .bold-colored {
    border-bottom:solid  .3rem var(--color-blue);
}

.about-header__text {
  line-height: 150%;
}

.about-skills {
  padding-top: 10rem;
  width: 100vw;
}

.about-skills__graphs {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.development-skills {
  width: 70rem;
}

.design-skills {
  width: 65rem;
}

.skill-header {
  font-size: 2.5rem;
  margin-top: 4rem;
  font-family: 'Roboto Medium';
}

.skill-header span {
  color: var(--color-blue);
  font-size: 4rem;
}

@-webkit-keyframes MOVE-BG {
	from {
    opacity: 1;
	}
	to {
    opacity: 0;
	}
}

.about-contact {
  margin-top: 10rem;
  width: 100vw;
  background-color: var(--color-black);
  color: white;
}

.about-contact header {
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 4rem;
}

.about-forms {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.about-forms a {
  margin-top: 1rem;
  width: 20rem;
  height: 3rem;
  background-color: white;
  padding: 2rem 4rem;
  color: var(--color-black);
  text-align: center;
  font-size: 3rem;
  align-self: center;
  font-family: 'PTSerif Bold';
  align-self: center
}

.about-forms a:hover {
  background-color: black;
  border: 1px solid white;
  color: var(--color-white);
}
